{% extends "public/templates/public_template.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload STL File</h1>
      <hr>

      <form action="/upload-data" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select STL file</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">{{ filename }}</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Convert</button>


      </form>

    </div>
  </div>
</div>

{% endblock %}
